:root {
    --bgRed: #380909;
    --bgGrey: #111111;
    --windowBg: #0e0909;
    --windowBorder: #721608;
}

.boxConstraint {
    width: 800px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.boxConstraintWide {
    width: 1600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
}

.window {
    background: var(--windowBg);
    border: 3px solid var(--windowBorder);
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: 750px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    max-width: 2550px;
    margin: 20px auto;
    width: 100%;
    box-sizing: border-box;
    justify-content: center; 
    align-items: start;
}

@media (max-width: 2580px) {
    .gridContainer {
        grid-template-columns: 1fr 1fr;
        max-width: 1700px;
    }
}

@media (max-width: 1720px) {
    .gridContainer {
        grid-template-columns: 1fr;
        max-width: 850px;
    }
}

.gridItem {
    background: var(--windowBg);
    border: 3px solid var(--windowBorder);
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    width: 100%;
}

.mainContent .window {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.mainContentBig .window {
    width: 750px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.sideBar .window {
    width: 235px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.inlinePic {
    padding: 0px;
    vertical-align: middle;
}

#containerTable td {
    vertical-align: top;
}

#banner {
    max-width: 800;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#navBar {
    background: var(--windowBg);
    border: 3px solid var(--windowBorder);
    border-radius: 5px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 50px;
    padding-right: 50px;
    width: max-content;
    margin: auto;
}

body {
    font-size: medium;
    color: white;
    text-align: center;
    background-color: #111111;
    background-image: url("data:image/svg+xml,%3Csvg width='48' height='64' viewBox='0 0 48 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M48 28v-4L36 12 24 24 12 12 0 24v4l4 4-4 4v4l12 12 12-12 12 12 12-12v-4l-4-4 4-4zM8 32l-6-6 10-10 10 10-6 6 6 6-10 10L2 38l6-6zm12 0l4-4 4 4-4 4-4-4zm12 0l-6-6 10-10 10 10-6 6 6 6-10 10-10-10 6-6zM0 16L10 6 4 0h4l4 4 4-4h4l-6 6 10 10L34 6l-6-6h4l4 4 4-4h4l-6 6 10 10v4L36 8 24 20 12 8 0 20v-4zm0 32l10 10-6 6h4l4-4 4 4h4l-6-6 10-10 10 10-6 6h4l4-4 4 4h4l-6-6 10-10v-4L36 56 24 44 12 56 0 44v4z' fill='%235f0000' fill-opacity='0.5' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-position: center;
    margin: 0;
}

footer {
    text-align: center;
    margin-top: auto;
    border-top: 3px solid var(--windowBorder);
    background-color: var(--windowBg);
    padding: 5px;
    min-width: 800px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    text-align: center;
    list-style-position: inside;
    padding-left: 0px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td img {
    padding: 10px;
}

td details {
    padding-bottom: 10px;
}

a:link {
    color: darkgrey;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}